<h1>Database</h1>
<p>
    We gaan een database aanmaken met diverse tabellen.<br>
    Per tabel komen er minimaal 5 regels met data.
    Op basis van deze tabelen gaan we oefenen met queries<br>
</p>

<h2>Opdracht 1</h2>
<p>
	Maak een nieuwe database 'WD315'<br>
</p>

<h2>Opdracht 2</h2>
<p>
	Maak een nieuwe tabel aan: 'autos'<br>
    De volgende velden moeten in deze tabel komen:<br>
    id, merk_id, titel, type, kleur, brandstof, zitplaatsen, prijs<br>
</p>

<h2>Opdracht 3</h2>
<p>
	Maak een nieuwe tabel aan: 'merken'<br>
    De volgende velden moeten in deze tabel komen:<br>
    id, naam, land<br>
</p>

<h2>Opdracht 4</h2>
<p>
	Plaats nu minimaal 5 regels in beide tabellen<br>
    Zorg ervoor dat elk type gekoppeld is aan een merk
</p>

<h2>Opdracht 5</h2>
<p>
	Laat de complete inhoud van de autos tabel zien
</p>

<h2>Opdracht 6</h2>
<p>
	Laat alleen de rode autos zien
</p>

<h2>Opdracht 7</h2>
<p>
	Laat alle auto's zien, inclusief de merknaam en het land
</p>

<h2>Opdracht 8</h2>
<p>
	Laat alle auto's zien, inclusief de merknaam en het land<br>
    Sorteer de auto's op basis van merk en dan op titel
</p>

<h2>Opdracht 9</h2>
<p>
	Laat alle merken zien<br>
    Geef aan hoeveel auto's elk merk heeft
</p>


