/*
THEME NAME: Dezinebox
THEME URI: http://cmm.nl
DESCRIPTION: Responsive WP Theme
VERSION: 1.0
AUTHOR: Kasper van Ling
AUTHOR URI: http://www.kvanling.nl
*/


body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #FFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

h1 {
	font-weight : 600;
	font-size : 26px;
}

// cancel floats
.clearfix::after {
	content : "";
	display : block;
	clear : both;
}

/* Container */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
	max-width: 1200px;
}
/* Navigation */
header {
	width: 100%;
	height: 100px;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
	padding-top : 1px;
}
.logo {
	color: #fff;
	font-weight: bold;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom : 0;
	letter-spacing: 4px;
}
nav#main-nav {
	float: right;
	width: 70%;
	text-align: right;
	margin-right: 25px;
}
header nav#main-nav ul {
	list-style: none;
	float: right;
	text-transform:uppercase;
	margin-top : 40px;
}
nav#main-nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	position : relative;
}

nav#main-nav ul li ul {
	float : none;
	margin : 0;
	padding : 0 0 10px 0;
	display : none;
	background-color: #52bad5;
	position: absolute;
	z-index: 1000;
	left : -40%;
	width : 180%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

nav#main-nav ul li ul li {
	float : none;
	margin-top : 10px;
	margin-right : 0;
	padding : 4px 8px;
	text-align : center;
}

nav#main-nav ul li:hover ul {
	display : block;
}

nav#main-nav ul li ul a {
	display : block;
}

nav#main-nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
nav#main-nav ul li a:hover {
	color: #2C9AB7;
}

.menu-wrap .icon-list ul {
	list-style-type: none;
	
}

.row {
	max-width : 1200px;
	margin : 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  left :0;
  width: 100%;
  z-index : 20000;
}

.sticky + .hero {
  padding-top: 102px;
}

.sticky + .about {
  padding-top: 200px;
}

.menu-wrap .icon-list ul li {
	text-align: right;
}

.menu-wrap nav {
	text-align : right;
}

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	position: relative;
	height: auto;
	opacity : 1;
	z-index : 100;
}

.hero ~ #sidebar {
	padding-top : 35px;
}

.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	color: #A3A3A3;
}

.text_column h1 {
	color : black;	
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	padding-bottom : 10px;
	display: block;
	background-color: #F9F9FE;
	margin-top: 0px;
	overflow : hidden;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #CFCFCF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: -4px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
	position:relative;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url('images/background2.jpg');
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner h2 {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
	text-transform:uppercase;
}
.banner p {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
section#more-info {
	background-color: #FFFFFF;
	padding-bottom: 35px;
	overflow : hidden;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
section#more-info .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
	text-transform:uppercase;
}

.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
section#more-info .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
	position:relative;
	opacity:0;
	top:30px;
}

.footer_column a {
	text-decoration : none;
}

.blue {
	border: 3px solid #60C6E0;
	color: #60C6E0;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.blue:hover {
	background-color: #60C6E0;
	color: #FFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #52BAD5;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	clear : both;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(images/pattern.png);
	background-repeat: repeat;
	clear : both;
}

.hidden {
	display: none;
}

.dashicons {
	margin : 0 auto;
	font-size: 80px !important;
	width : 80px !important;
	height : 80px !important;
	float : left;
	margin-right : 6px;
	color: #52bad5;
	position : relative;
}

.small {
	font-size : 16px !important;
	width : 16px !important;
	height : 16px !important;	
}

img {
	max-width : 100%;
	height : auto;	
}

.subpage .text_column {
	width : 100%;
}

.front {
	width : 29%;
	float : left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.front:last-child {
	margin : 0;	
}

.sidebar {
	width : 64%;
	float : left;
	padding-left : 3%;	
	padding-right : 3%;

}

#sidebar {
	width : 24%;
	float : right;
	padding-top : 200px;	
	padding-left : 3%;	
	padding-right : 3%;
	background-color: #FFF;
}

#sidebar input {
	border: 1px solid #BDBDBD;
	padding : 4px 8px;
	border-radius : 10px;	
}

#sidebar button {
	border: 1px solid #BDBDBD;	
	cursor : pointer;
	border-radius:10px;
	background-color : #FFF;
	position : relative;
	top : 3px;
}

#sidebar input:focus {
	outline : 0;	
}

.banner {
	clear : both;	
}

.menu-button {
	display : none;
}

/*news archive*/
#content .news {
	width : 47%;
	height : 200px;
	float : left;
	margin-right : 5%;
	margin-bottom : 20px;
	text-align : center;
	
	
	border : 1px solid black;
	border-radius : 10px;
	cursor : pointer;
	background-size : 100% auto;
}

#content .news:nth-child( 2n ){
	margin-right : 0;
}

#content .news .cover {
	height : 100%;
	background-color : rgba( 0,0,0,0.6 );
	padding : 20px;
	box-sizing : border-box;
	border-radius : 10px;
	transition : background-color 200ms ease-in;
}

#content .news:hover .cover {
	background-color : rgba( 0,0,0,0.2 );
	
}

.post-type-archive-news #content a:link, .post-type-archive-news #content a:visited {
	color : white;
	text-decoration : none;
}

a.blocklevel {
	display : block;
	height : 100%;
}

.single-news .post-content .wp-post-image {
	float : right;
	margin-left : 12px;
}

#slider1 img {
	object-fit : cover;
	height : 380px;
	width : 1200px;
}

/* Mobile */
@media (max-width: 480px) { 
	#hero {
		display : none;	
	}
	.about {
		padding-top : 135px;
	}
}

@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.front {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.banner h2 {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.banner p {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.sidebar, #sidebar {
	width : 94%;
	padding-left : 3%;	
	padding-right : 3%;
}

#sidebar {
	padding-bottom : 20px;	
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {

#slider1 img {
	object-fit : cover;
	height : 160px;
	width : 100%;
}

#content .news {
	float : none;
	width : 100%;
	margin-right : 0;
}

.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}

.container header {
	height : auto;
	padding-bottom : 10px;	
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.banner h2 {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.banner p {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.banner h2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.banner p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}

.front {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	border-bottom : 1px dotted #52BAD5;
}

.front:last-child {
	border-bottom : none;
}

.sidebar, #sidebar {
	width : 94%;
	padding-left : 3%;	
	padding-right : 3%;
}

#sidebar {
	padding-bottom : 20px;	
}
}

@media (max-width : 768px){
	.menu-button {
		display : block;
	}

	#main-nav {
		display: none;
	}

	.logo {
		float : none;
		display : block;
		margin : 17px auto 0 auto;
	}
	#sidebar {
	width : 94%;
	padding-left : 3%;	
	padding-right : 3%;
	padding-top : 3%;
	padding-bottom : 200px;	
}

}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

#slider1 img {
	object-fit : cover;
	height : 240px;
	width : 100%;
}

.front {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.front {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	border-bottom : 1px dotted #52BAD5;
}

.front:last-child {
	border-bottom : none;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}

.dashicons {
	width : 50px;
	height : 50px;
	font-size : 50px;	
}

.sidebar, #sidebar {
	width : 94%;
	padding-left : 3%;	
	padding-right : 3%;
	padding-top : 3%;
	padding-bottom : 20px;	
}

}
