<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Voorbeeld 1: Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
      .my-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: red;
        color: white;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <a href="../index.html">Terug</a>
    <h1>Voorbeeld 1</h1>
    <h2>Vue button</h2>

    <div id="app">
      <my-button text="Click me!"></my-button>
      <my-button text="Click me!"></my-button>

    </div>

    <script type="text/javascript">

      Vue.component('my-button', {
        template: '<div class="my-button" v-on:click="handleClick">{{ text }}</div>',
        props: ['text'],
        methods: {
          handleClick: function() {
            console.log('CLICKED!');
          }
        }
      });

      const app = new Vue({
        el: '#app',
        data: {},
      });

    </script>

  </body>
</html>

