<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <title>Voorbeeld 1: AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
      .my-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: red;
        color: white;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <a href="../index.html">Terug</a>
    <h1>Voorbeeld 1</h1>
    <h2>AngularJS button</h2>

    <my-button text="'Click me!'"></my-button>

    <script type="Text/javascript">

      angular.module('myApp', []);

      angular.
        module('myApp').
        component('myButton', {
          template: '<div class="my-button" ng-click="$ctrl.handleClick()">{{ $ctrl.text }}</div>',
          bindings: {
            text: '='
          },
          controller: function MyButtonController() {
            this.handleClick = function handleClick() {
              console.log('CLICKED!');
            }
          }
        });

    </script>

  </body>
</html>